﻿* {
	padding: 0;
	margin: 0;
}

.menu {
	padding: 0;
	margin: 0;
	list-style: none;
	overflow: hidden;
}
.menu-horizontal > li {
	width: 25%;
	float: left;
	text-align: center;
}
.menu-sidebar {
	text-align: center;
}
.menu-sidebar > li {
	padding: 10px;
	height: 20px;
}

.wrapper {
	margin: 0 auto;
	width: 80%;
}
	.header {
	}
		.header-title {
			height: 70px;
			line-height: 70px;
			background: #bafb74;
			text-align: center;
		}
		.header-menu {
			height: 70px;
			line-height: 70px;
			background: #6ea8fe;
		}

	.main {
		overflow: hidden;
	}
		.sidebar {
			width: 25%;
			float: left;
			background: #7cee89;
		}
		.content {
			box-sizing: border-box;
			text-align: center;
			padding: 10px;
			float: left;
			width: 75%;
		}

	.footer {
		height: 70px;
		line-height: 70px;
		background: #fef270;
		text-align: center;
	}