﻿.wrapper {
	margin: 0 auto;
	width: 80%;
}
	.header {
		height: 70px;
		background: yellow;
	}
	.sidebar {
		height: 400px;
		width: 30%;
		float: left;
		background: red;
	}
	.content {
		height: 400px;
		background: blue;
	}
	.footer {
		height: 70px;
		background: yellow;
	}