﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site1.Master" AutoEventWireup="true" CodeBehind="WebForm1.aspx.cs" Inherits="z6.WebForm1" Theme="Theme2" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
	<div>
		<asp:Label ID="LoginLabel" runat="server" Text="Логин"></asp:Label>
		<br>
		<asp:TextBox ID="login" runat="server"></asp:TextBox>
	</div>
	<div>
		<asp:Label ID="EmailLabel" runat="server" Text="Email"></asp:Label>
		<br>
		<asp:TextBox ID="email" runat="server"></asp:TextBox>
	</div>
	<asp:Button ID="ButtonSend" runat="server" Text="Отправить" />
</asp:Content>
