﻿body {
	font-family: sans-serif;
	background: #ffcdd2;
}

input[type="text"] {
	padding: 5px;
	margin-bottom: 10px;
}

 input[type="submit"] {
	padding: 10px 20px;
	outline: none;
	border: none;
	border-radius: 3px;
	font-size: 16px;
	/*background: #2196f3;*/
	color: #fff;
} 
