﻿.menu {
	padding: 0;
	margin: 0;
	list-style: none;
	overflow: hidden;
}
.menu-horizontal > li {
	width: 25%;
	float: left;
	text-align: center;
}
.menu-sidebar > li {
	padding: 10px;
	height: 20px;
}

.table {
	margin: 0 auto;
	width: 80%;
	border: 1px solid #ccc;
	border-collapse: collapse;
	text-align: center;
}
	.table td {
		border: 1px solid #ccc;	
	}

	.header {
		height: 70px;
		background: #bafb74;
	}
	.header-menu {
		height: 70px;
		background: #6ea8fe;
	}

	.main {}
		.sidebar {
			width: 25%;
			background: #7cee89;
		}

	.footer {
		height: 70px;
		background: #fef270;
	}