﻿.table {
	margin: 0 auto;
	width: 80%;
	text-align: center;
}
	.header {
		height: 70px;
	}
		.header-content {
			background: yellow;
		}

	.page {
		height: 400px;
	}
		.sidebar {
			width: 30%;
			background: red;
		}

	.footer {
		height: 70px;
	}
		.footer-content {
			background: blue;
		}